extends layout

block content
  h2 user list
  hr
  .row
    .col-sm-12

      table.table
        thead
          tr
            th.col Type
            th.col Token
            th.col Latest item ID
        tbody
          - for (user of users) {
            tr
              td.email 
                = user.type
              td.name
                = user.token
              td.last
                = user.latestItemId
          - }

  include partials/modal